.ant-tabs-tab {
  color: #768E8A !important; 
  padding: 5px !important;
}

.ant-tabs-tab-active {
  color: #768E8A !important; 


}

.ant-tabs-tab-btn {
  color: #768E8A !important; 
  

}

.ant-tabs-ink-bar {
  /* position: absolute; */
  background: #768E8A !important;

  
}