.App {
  text-align: left;
  font-family: 'FranklinGothicITC Book', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.box-shadow {
  box-shadow:  
  0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 6px 8px rgba(0,0,0,0.11),
  0 8px 16px rgba(0,0,0,0.11);
}

.text-shadow {
  text-shadow:
  -4px 3px 0 #3a50d9;
}




.fg900 {
  font-family: 'FranklinGothicITC' ;
  font-weight: 900;
  font-size: 3rem;
  color: #CCCDCB;
  margin: 0;
  /* text-align: center; */

}
.fg900i {
  font-family: 'FranklinGothicITC' ;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  color: #CCCDCB;
  margin: 0;
}

.demi600 {
  font-family: 'FranklinGothicITC Demi';
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}
.demi600i {
  font-family: 'FranklinGothicITC Demi';
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
}

.fg500 {
  font-family: 'FranklinGothicITC' ;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
}
.fg500i {
  font-family: 'FranklinGothicITC' ;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  margin: 0;
}

.book {
  font-family: 'FranklinGothicITC Book';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  
}
.book-b {
  font-family: 'FranklinGothicITC Book';
  font-style:  bold;
  font-weight: normal;
  font-size: 1rem;
}
.book-i {
  font-family: 'FranklinGothicITC Book';
  font-style:  italic;
  font-weight: normal;
}

.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}




/* 
<i> — was italic, now for text in an “alternate voice”, such as transliterated foreign words, technical terms, and typographically italicized text (W3C:Markup, WHATWG)
<b> — was bold, now for “stylistically offset” text, such as keywords and typographically emboldened text (W3C:Markup, WHATWG)
<em> — was emphasis, now for stress emphasis, i.e., something you’d pronounce differently (W3C:Markup, WHATWG)
<strong> — was for stronger emphasis, now for strong importance, basically the same thing (stronger emphasis or importance is now indicated by nesting) (W3C:Markup, WHATWG) */

.App {
  display: flex;
  justify-content: center;
}


.app-container {
  width: 90%;
  max-width: 1440px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in, .fade-in-1, .fade-in-2, .fade-in-3 {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

.fade-in-1 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fade-in-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.fade-in-3 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}